PORT=4029
NODE_ENV=development

# PostgreSQL Database Configuration
# REPLACE <password> with your actual database password
DATABASE_URL=postgres://avnadmin:<password>@pg-23904097-manathoorweb-5d41.j.aivencloud.com:27845/defaultdb?sslmode=require
DB_SSL_REJECT_UNAUTHORIZED=false

# Firebase Admin SDK Credentials
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
